#title{
    /* background: black; */
    opacity: .6;
    padding: 2em;
    text-align: center;

}
#title2{

    color: whitesmoke;
    text-align: center;
}

#header{

        border-radius: 20px;
        width: 100%;

}
.Alien {
    display: flex;
    flex-wrap: wrap

}
.wrapper{
     display: Flex;
    flex-direction: row;
    width: 22em;
    /* opacity: .6 */
}

.alienDetails {

    background: black;
    margin: 2em;
    width: 20em;
    color: whitesmoke;
    border-radius: 20px;
    opacity: .6;

}
.alienMainPic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.backgroundGif img {

    background: no-repeat;


}


